__pycache__
.DS_Store
*.err
*~
.*~
REPORT
PROCAR
CHG
CHGCAR
DOSCAR
DYNMAT
EIGENVAL
IBZKPT
OSZICAR
OUTCAR*
POTCAR
WAVECAR
XDATCAR
PROCAR
PCDAT
LOCPOT
OPTIC
WAVE*
vasp.out
stdout
out
*.save
*.phsave
*.tmp
WFULL*
*amn
*agr
*chk
*eig
*mmn
*wout
wannier90_band.dat
wannier90_band.gnu
wannier90_band.kpt
*~
.DS_Store